:root {
    --nav-bg-color: #E8EBF1;
    --text-main-color: #212222;
    --text-secondary-color: #2AACC8;
    --text-main-size: 0.85rem;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
}


.vertical {
    align-items: center;
}
.font-main {
    font-size: var(--text-main-size);
}
.text-main-color {
    color: var(--text-main-color);
}
.text-secondary-color {
    color: var(--text-secondary-color);
}

.bg-secondary-color {
    background-color: var(--text-secondary-color);
}
.bg-content-4 {
    background-color: #E8FCFE;
}
.border-bottom {
    border-bottom: 0.1px solid #ccc;
}
.border-around {
    border: 0.1px solid #e4e3e3;
}
.con-1 i {
    color: white;
}
.con-1-icon {
    background-color: var(--text-secondary-color);
}


.weight-bold {
    font-weight: bold;
}
.weight-500 {
    font-weight: 500;
}
.container {
    padding: 0;
}
.row {
    margin: 0;
}

.content-1 {
    background-color: #E8EBF1;
    border-bottom: 0.1px solid #ccc;
}
.content-1 a {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-secondary-color);
}
.content-1 a:hover {
    color: var(--text-secondary-color);
}
.content-1 .fa-angle-right {
    font-weight: bold;
    font-size: 14px;
    padding-right: 6px;
}
.content-2 a {
    color: #212222;
}
.content-2 a:hover {
    color: #212222;
    text-decoration: none;
}
.pagination {
    font-size: 8.5px;
    padding: 8px;
    font-weight: 900;
}

.content-4-main {
    padding: 24px;
    border: 1px solid #33B1CC;
}
.btn-download {
    background-color: #76DDE8;
    border: 1px solid #33B1CC;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    margin-right: 20px;
}
.btn-download i {
    color: white;
    margin-right: 10px;
}

.footer {
    background-color: #E8EBF1;
}
.footer-logo {
    width: 33.33%;
    box-sizing: border-box;
    padding-bottom: 8px;
}


